.button {
    width: 100%;
    height: 100%;
    background-color: #40bb74;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: #db1f1f;
    transition: 0.3s;
    cursor: pointer;
}

.image-container {
    width: 50%;
    height: 50%;
    display: flex;
}

.img {
    height: 100%;
    width: 100%;
}