@import "./buttons.css";

.grid {
    width: 100%;
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    border: 3px solid black;
    border-radius: 15px;
}

.data {
    width: 100%;
}

.row {
    display: flex;
}

.col {
    width: 50%;
    text-align: center;
    font-size: 25px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
}

.col-header {
    background-color: #40bb74;
    color: #680878;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
}

.edit-button, .delete-button {
    width: 50px;
    height: 50px;
}

.edit-button {
    margin-right: 10%
}

.buttons {
    width: 35%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1170px) {
    .grid {
        width: 75%;
    }
    
    .col {
        width: 100%;
    }

    .col-header {
        font-size: 25px;
    }

    .buttons {
        width: 100%;
    }
}

@media screen and (max-width: 740px) {
    .col {
        font-size: 18px;
    }

    .col-header {
        font-size: 18px;
    }

    .edit-button, .delete-button {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 525px) {
    .col {
        font-size: 12px;
    }

    .edit-button, .delete-button {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 395px) {
    .col {
        width: 25%;
        font-size: 8px;
    }

    .edit-button, .delete-button {
        width: 15px;
        height: 15px;
    }
}