.overlay {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.name-container {
    padding-bottom: 30px;
}

.surname-container {
    padding-bottom: 30px;
}

.close-button-container {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 15px;
}

.add-form {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 380px;
    width: 300px;
    border: 3px solid #656565;
    border-radius: 10px;
    background-color: white;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-container {
    margin-top: 20px;
}

.submit-button {
    width: 150px;
    height: 75px;
    margin-top: 20px;
}