main {
    padding-top: 15px;
}

.flex-holder {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button-with-search {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    height: 38px;
    margin-right: 5%;
    margin-bottom: 20px;
}

.add-button {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.logout-button {
    height: 65px;
    display: flex;
    justify-content: right;
    padding-right: 35px;

}

.dataGrid-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 525px) {
    .button-with-search {
        flex-direction: column;
    }
}